<%= form_for(@campo) do |f| %>
  <% if @campo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campo.errors.count, "error") %> prohibited this campo from being saved:</h2>

      <ul>
      <% @campo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :layout_id %><br>
    <%= f.number_field :layout_id %>
  </div>
  <div class="field">
    <%= f.label :number_field %><br>
    <%= f.number_field :number_field %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.check_box :parent %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
