<p id="notice"><%= notice %></p>

<h1>Listing Campos</h1>

<table>
  <thead>
    <tr>
      <th>Layout</th>
      <th>Number field</th>
      <th>Name</th>
      <th>Parent</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campos.each do |campo| %>
      <tr class="level<%= campo.level %> " data-depth="<%= campo.level %>">
        <% if campo.parent? %>
            <td><span class="toggle "><%= campo.layout_id %></td>
        <% else %>
            <td><%= campo.layout_id %></td>
        <% end %>
        <td><%= campo.number_field %></td>
        <td><%= campo.name %></td>
        <td><%= campo.parent %></td>
        <td><%= campo.level %></td>
        <td><%= link_to 'Show', campo %></td>
        <td><%= link_to 'Edit', edit_campo_path(campo) %></td>
        <td><%= link_to 'Destroy', campo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campo', new_campo_path %>
