<p id="notice"><%= notice %></p>

<p>
  <strong>Layout:</strong>
  <%= @campo.layout_id %>
</p>

<p>
  <strong>Number field:</strong>
  <%= @campo.number_field %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campo.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @campo.parent %>
</p>

<p>
  <strong>Level:</strong>
  <%= @campo.level %>
</p>

<%= link_to 'Edit', edit_campo_path(@campo) %> |
<%= link_to 'Back', campos_path %>
