// Place all the styles related to the campos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table td {
  border: 1px solid #eee;
}
.level1 td:first-child {
  padding-left: 15px;
}
.level2 td:first-child {
  padding-left: 30px;
}

.collapse .toggle {
  background: url("http://mleibman.github.com/SlickGrid/images/collapse.gif");
}
.expand .toggle {
  background: url("http://mleibman.github.com/SlickGrid/images/expand.gif");
}
.toggle {
  height: 9px;
  width: 9px;
  display: inline-block;
}