<div class="inbox-content">
  <!--<table class="table table-hover table-striped table-responsive">-->
  <table class="table table-striped table-responsive" id="tableTree">
    <thead>
    <tr>
      <th>Id</th>
      <th>Layout</th>
      <th>Number field</th>
      <th>Fieldtype</th>
      <th>Name</th>
      <th>Changeable</th>
      <th>Length</th>
      <th>Parent</th>
      <th>Level</th>
      <th>Alias</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @datos = Field.all %>
    <% @datos.each do |field| %>
        <tr data-depth="<%= field.level %>" class="collapse level<%= field.level %>">
          <% if field.parent? %>
              <td><span class="toggle collapse"><%= field.id %></td>
          <% else %>
              <td><%= field.id %></td>
          <% end %>
          <td><%= field.layout_id %></td>
          <td><%= field.number_field %></td>
          <td><%= field.fieldtype_id %></td>
          <td><%= field.name %></td>
          <td><%= field.changeable %></td>
          <td><%= field.length %></td>
          <td><%= field.parent_id %></td>
          <td><%= field.level %></td>
          <td><%= field.alias %></td>
          <td align="right">

            <%= link_to '<button class="btn btn-primary dim" type="button"><i class="fa fa-search"></i></button>'.html_safe, field %>
            <%= link_to '<button class="btn btn-warning dim" type="button"><i class="fa fa-pencil"></i></button> '.html_safe, edit_field_path(field) %>
            <%= link_to '<button class="btn btn-danger dim" type="button"><i class="fa fa-trash-o"></i></button> '.html_safe, field, method: :delete, data: {confirm: 'Are you sure?'} %>

          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

