<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @field.id %>
</p>

<p>
  <strong>Layout:</strong>
  <%= @field.layout_id %>
</p>

<p>
  <strong>Number field:</strong>
  <%= @field.number_field %>
</p>

<p>
  <strong>Fieldtype:</strong>
  <%= @field.fieldtype_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Changeable:</strong>
  <%= @field.changeable %>
</p>

<p>
  <strong>Length:</strong>
  <%= @field.length %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @field.parent %>
</p>

<p>
  <strong>Level:</strong>
  <%= @field.level %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @field.alias %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
